<div class="border-bottom p-3">
  <h1><%= @task.title %></h1>
  <div class="alert alert-warning"><%= @task.details %></div>
  <% if @task.completed %>
    <i class="fa-regular fa-circle-check"></i> This task is completed
  <% else %>
    <i class="fa-regular fa-circle"></i> This task is not completed yet
  <% end %>
</div>
<div class="p-3">
  <%= link_to 'Back to list', tasks_path %>
</div>

<div class="p-3">
  <%= link_to 'Edit task', task_edit_path(@task)  %>
</div>

<div class="p-3">
  <%= link_to 'Delete task', task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
</div>
